body {
	background-image: url('../img/fondo4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}


.logo {
	width: 35%;
	height:35%;
	margin-top: 5vh;
}

button {
	width: 95%;
	height: 10vh;
	color: #fff;
	border-radius: 7px;
	font-size: 25px;

}

.btn-log {
	background: rgba(0,0,0,0);
	border: 3px solid white;
	margin-top: 70vh;
	margin-bottom: 5vh;
}

.btn-sign {
    background: -webkit-linear-gradient(#7500BF, #E000BF);
    background: -o-linear-gradient(#7500BF, #E000BF);
    background: linear-gradient(#7500BF, #E000BF);
    margin-top: 70vh;
    margin-bottom: 5vh;
}